<h1>Pirates!</h1>
<form action="/pirates" method="post">
  <p>Pirate Name: <input type="text" name="pirate[name]"></p>
  <p>Pirate Weight: <input type="text" name="pirate[weight]"></p>
  <p>Pirate Height: <input type="text" name="pirate[height]"></p>
  <p>Pirate Ship 1 Name: <input type="text" name="pirate[ships][][name]" placeholder="ship_name_1"></p>
  <p>Pirate Ship 1 Type: <input type="text" name="pirate[ships][][type]" placeholder="ship_type_1"></p>
  <p>Pirate Ship 1 Booty: <input type="text" name="pirate[ships][][booty]" placeholder="ship_booty_1"></p>
  <p>Pirate Ship 2 Name: <input type="text" name="pirate[ships][][name]" placeholder="ship_name_2"></p>
  <p>Pirate Ship 2 Type: <input type="text" name="pirate[ships][][type]" placeholder="ship_type_2"></p>
  <p>Pirate Ship 2 Booty: <input type="text" name="pirate[ships][][booty]" placeholder="ship_booty_2"></p>
  <input type="submit" value="Submit" >
</form>
